{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Django Tailwind</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
		<link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.7/dist/flowbite.min.css" />
	</head>

	<body class="bg-gray-50 font-serif leading-normal tracking-normal">
		{% include 'theme/navbar.html' %}
		<div class="container mx-auto">
			<section class="flex items-center justify-center h-screen">
				<h1 class="text-5xl">{% block heading %}{% endblock heading %}</h1>
				{% block body %}{% endblock body %}
			</section>
		</div>
		<script src="https://unpkg.com/flowbite@1.4.7/dist/flowbite.js"></script>
		{% block js %}{% endblock js %}
	</body>
</html>
